<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Task Manager</h1>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav fixedTopGap="56" mode="side">
      <mat-nav-list>
        <mat-list-item *ngFor="let project of projects">
          <a [routerLink]="['/project', project.id]">{{project.name}}</a>
          <span class="spacer"></span>
          <button mat-button color="accent" (click)="deleteProject(project)">
            <mat-icon>
              close
            </mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
        <a mat-list-item id="add-project-button" (click)="openAddProjectDialog()">
          <mat-icon>
            library_add
          </mat-icon>
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item style="position: absolute; bottom: 20px">
          <button mat-raised-button color="primary" style="width: 100%" (click)="createTask()">Add task</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="[main]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

