<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">

        <div class="board-columns">
          <div class="board-column"
            *ngFor="let column of board.columns">

            <mat-card class="tasks-container"
                      id="{{column.id}}"
                      cdkDropList
                      [cdkDropListConnectedTo]="['0','1','2', '3', '4']"
                      [cdkDropListData]="column.tasks"
                      (cdkDropListDropped)="drop($event)">
              <mat-card-title class="columnTitle">
                {{ column.name }}
              </mat-card-title>

              <app-task *ngFor="let task of column.tasks" [task]="task"></app-task>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
